<!--
  COMPOSANT BUTTON (Bouton)
  ==========================
  
  💡 PARALLÈLE AVEC FIGMA :
  Dans Figma, vous avez probablement plusieurs variantes de boutons 
  (primaire, secondaire, ghost). Ce fichier montre les différentes variantes.
  
  UTILISATION :
  1. Ouvrir ce fichier
  2. Copier la variante de bouton dont vous avez besoin
  3. Coller dans votre page HTML
  4. Adapter le texte et le lien
  
  BEM :
  - Block : button
  - Modifiers : button--primary, button--secondary, button--ghost
-->



<!--Icones-->
<a href="#" class="icone">
  <img src="./assets/icons/akar-icons_tiktok-fill.svg" alt="icone" class="img-icone">
</a>

<a href="#" class="icone iconelg">
  <img src="./assets/icons/akar-icons_youtube-fill.svg" alt="icone" class="img-iconelg">
</a>

<a href="#" class="icone buttonclose">
  <img src="./assets/icons/Close.svg" alt="icone" class="buttonclose-img">
</a>

<a href="#" class="icone buttonplay">
  <img src="./assets/icons/Play.svg" alt="icone" class="buttonplay-img">
</a>



<!--Boutons navigation-->
<a href="#" class="nav-button first-nav nav-button-currentpage">
  <p class="text-button text-nav">Home</p>
  <img src="./assets/images/nav-img/home icon.png" alt="home" class="nav-img">
</a>

<a href="#" class="nav-button">
  <p class="text-button text-nav">Tour</p>
  <img src="./assets/images/nav-img/tour icon.png" alt="tour" class="nav-img">
</a>

<a href="#" class="nav-button last-nav">
  <p class="text-button text-nav">Merch</p>
  <img src="./assets/images/nav-img/merch icon.png" alt="merch" class="nav-img">
</a>


<!--Boutons rectangle-->
<button type="button" class="rectangle-button button-yes"><p class="text-button">Yes</p></button>
<button type="button" class="rectangle-button rectangle-button-md"><p class="text-button">Submit</p></button>
<button type="button" class="rectangle-button rectangle-button-lg"><p class="text-button">Buy ticket</p></button>