<!--
  COMPOSANT FOOTER
  ================
  
  💡 PARALLÈLE AVEC FIGMA :
  Comme le composant "Footer" dans Figma, ce fichier contient le HTML 
  du footer que vous pouvez réutiliser sur toutes vos pages.
  
  UTILISATION :
  1. Ouvrir ce fichier
  2. Copier tout le contenu (sauf ce commentaire)
  3. Coller dans votre page HTML avant la balise </body>
  4. Adapter le contenu (copyright, liens, etc.)
  
  BEM :
  - Block : footer
  - Elements : footer__text, footer__link (si vous ajoutez des liens)
-->

<footer class="footer">


    <form action="" method="get">
      <label for="newsletter" class="text">NEWSLETTER</label>
      <input type="email" name="email" placeholder="E-mail" required />
      <button type="submit" class="rectangle-button button-submit text-button">Submit</button>
    </form>


    <div class="platforms">
      <a href="https://music.apple.com/fr/artist/zara-larsson/570372593" target="_blank" class="icone iconelg">
        <img src="./assets/icons/fa-brands_itunes-note.svg" alt="Launch Zara Larsson on Apple Music"
          class="img-iconelg">
      </a>

      <a href="https://www.youtube.com/channel/UCjNRJBlxvvS0UXAT2Ack-QQ" target="_blank" class="icone iconelg">
        <img src="./assets/icons/akar-icons_youtube-fill.svg" alt="Launch Zara Larsson on Youtube" class="img-iconelg">
      </a>

      <a href="https://open.spotify.com/intl-fr/artist/1Xylc3o4UrD53lo9CvFvVg" target="_blank" class="icone iconelg">
        <img src="./assets/icons/bi_spotify.svg" alt="Launch Zara Larsson on Spotify" class="img-iconelg">
      </a>

      <a href="https://music.amazon.fr/artists/B00BEW7GNM/zara-larsson" target="_blank" class="icone iconelg">
        <img src="./assets/icons/arcticons_amazon-music.svg" alt="Launch Zara Larsson on amazon music"
          class="img-iconelg">
      </a>

      <a href="https://soundcloud.com/zaralarssonofficial" target="_blank" class="icone iconelg">
        <img src="./assets/icons/simple-icons_pandora.svg" alt="Launch Zara Larsson on pandora" class="img-iconelg">
      </a>

      <a href="https://soundcloud.com/zaralarssonofficial" target="_blank" class="icone iconelg">
        <img src="./assets/icons/ri_soundcloud-fill.svg" alt="Launch Zara Larsson on soundcloud" class="img-iconelg">
      </a>

      <a href="https://music.youtube.com/channel/UCjNRJBlxvvS0UXAT2Ack-QQ" target="_blank" class="icone iconelg">
        <img src="./assets/icons/simple-icons_youtubemusic.svg" alt="Launch Zara Larsson on youtube music"
          class="img-iconelg">
      </a>

      <a href="https://www.deezer.com/fr/artist/4331004" target="_blank" class="icone iconelg">
        <img src="./assets/icons/fa7-brands_deezer.svg" alt="Launch Zara Larsson on deezer" class="img-iconelg">
      </a>

    </div>

    <p class="text footerlink">
      <a href="https://www.sonymusic.com/">2025 Sony Music Entertainment.</a>
      All Rights Reserved.
      <a href="https://www.sonymusic.com/feedback/">Send us feedback</a> |
      <a href="https://www.sonymusic.com/privacy-policy/">Privacy Policy</a> |
      <a href="https://www.sonymusic.com/how-we-use-your-data/">How we use your data</a> |
      <a href="https://www.sonymusic.com/ccpa-contact-form/">Do not sell my personal information</a> |
      <a href="https://www.sonymusic.com/privacy-policy/#your-california-privacy-rights">Your california privacy
        rights</a> |
      <a href="https://www.sonymusic.com/terms-and-conditions/">Terms and conditions</a>

    </p>

  </footer>


<!--footer pour les autres pages que index avec chemin img adapté 26-02-->
    <footer class="footer">


        <form action="" method="get">
            <label for="newsletter" class="text">NEWSLETTER</label>
            <input type="email" name="email" placeholder="E-mail" required />
            <button type="submit" class="submit" class="rectangle-button button-submit text-button">Submit</button>
        </form>


        <div class="platforms">
             <a href="https://music.apple.com/fr/artist/zara-larsson/570372593" target="_blank" class="icone iconelg">
                <img src="../assets/icons/fa-brands_itunes-note.svg" alt="Launch Zara Larsson on Apple Music"
                    class="img-iconelg">
            </a>

            <a href="https://www.youtube.com/channel/UCjNRJBlxvvS0UXAT2Ack-QQ" target="_blank" class="icone iconelg">
                <img src="../assets/icons/akar-icons_youtube-fill.svg" alt="Launch Zara Larsson on Youtube"
                    class="img-iconelg">
            </a>

             <a href="https://open.spotify.com/intl-fr/artist/1Xylc3o4UrD53lo9CvFvVg" target="_blank" class="icone iconelg">
                <img src="../assets/icons/bi_spotify.svg" alt="Launch Zara Larsson on Spotify" class="img-iconelg">
            </a>

            <a href="https://music.amazon.fr/artists/B00BEW7GNM/zara-larsson" target="_blank" class="icone iconelg">
                <img src="../assets/icons/arcticons_amazon-music.svg" alt="Launch Zara Larsson on amazon music"
                    class="img-iconelg">
            </a>

            <a href="https://soundcloud.com/zaralarssonofficial" target="_blank" class="icone iconelg">
                <img src="../assets/icons/simple-icons_pandora.svg" alt="Launch Zara Larsson on pandora"
                    class="img-iconelg">
            </a>

            <a href="https://soundcloud.com/zaralarssonofficial" target="_blank" class="icone iconelg">
                <img src="../assets/icons/ri_soundcloud-fill.svg" alt="Launch Zara Larsson on soundcloud"
                    class="img-iconelg">
            </a>

            <a href="https://music.youtube.com/channel/UCjNRJBlxvvS0UXAT2Ack-QQ" target="_blank" class="icone iconelg">
                <img src="../assets/icons/simple-icons_youtubemusic.svg" alt="Launch Zara Larsson on youtube music"
                    class="img-iconelg">
            </a>

            <a href="https://www.deezer.com/fr/artist/4331004" target="_blank" class="icone iconelg">
                <img src="../assets/icons/fa7-brands_deezer.svg" alt="Launch Zara Larsson on deezer"
                    class="img-iconelg">
            </a>

        </div>

        <p class="text footerlink">
            <a href="https://www.sonymusic.com/">2025 Sony Music Entertainment.</a>
            All Rights Reserved.
            <a href="https://www.sonymusic.com/feedback/">Send us feedback</a> |
            <a href="https://www.sonymusic.com/privacy-policy/">Privacy Policy</a> |
            <a href="https://www.sonymusic.com/how-we-use-your-data/">How we use your data</a> |
            <a href="https://www.sonymusic.com/ccpa-contact-form/">Do not sell my personal information</a> |
            <a href="https://www.sonymusic.com/privacy-policy/#your-california-privacy-rights">Your california privacy
                rights</a> |
            <a href="https://www.sonymusic.com/terms-and-conditions/">Terms and conditions</a>
        </p>

    </footer>